<section class="px-3 py-1  ">
    <div class="container-fluid shadow-sm rounded-5  header" style="background: url('https://t4.ftcdn.net/jpg/02/55/57/33/360_F_255573369_NrbcMNYC1hz1xJigxCOCN8OXsxmtx0TB.jpg');background-size:cover; background-position: center center;background-attachment: scroll">
<!--        <div class="container-fluid shadow-sm rounded-5  header" style="background: url('/header_img3.jpg');background-size:cover; background-position: center center;">-->
            <div class="row p-3">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6 m-auto text-center">
                    <div class="m-auto  text-center title-text text-dark">
                        <img src="/mamito_logo-png.png" width="200px" alt="" class="img-fluid header-logo "  style="border-radius: 50%;background:rgba(255,255,255,0.3);">
                        <div class="wrapper">
                            <p class="typing-demo fs-5 text-color  fw-bolder">
                                Your Destination for Delicious Moments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>