<div class="container-fluid header dark-bg ">
  <div class="row p-3 pb-5">
    <div class="col-lg-6 m-auto text-center">
      <div class="m-auto  text-center title-text text-white">
          <br><br>
          <h1 class="display-1 fw-bold "  >
              Le Repère
          </h1>
<!--        <img src="/mamito_logo-png.png" width="50%" alt="" class="img-fluid header-logo">-->
        <div class="wrapper">
          <p class="typing-demo h6">
            Your Destination for Delicious Moments.
          </p>
        </div>
      </div>      
      <form class="d-flex justify-content-around mb-3" role="search">
        <input class="form-control me-2 rounded-1" type="search" placeholder="Search" aria-label="Search">
        <button mat-stroked-button color="red" class="rounded-1  btn bg-white text-dark">Search</button>
      </form>
    </div>
    <div class="col-lg-6 text-center ">
      <img src="/header.PNG" class="img-fluid rounded-2" alt="" >
    </div>
  </div>
</div>
