<div class="container-fluid     ">

    <!-- Count Cards -->
    <div class="row g-4 mb-5 text-center">
        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-primary shadow">
                <div class="card-body">
                    <h5 class="card-title">Commandes Totales</h5>
                    <h2>1,234</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-success shadow">
                <div class="card-body">
                    <h5 class="card-title">Revenu</h5>
                    <h2>24,560 MAD</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card text-dark bg-warning shadow">
                <div class="card-body">
                    <h5 class="card-title">Actives</h5>
                    <h2>12</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card text-white bg-info shadow">
                <div class="card-body">
                    <h5 class="card-title">Livrées</h5>
                    <h2>1,200</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Charts -->
    <div class="row g-4 px-5 d-flex justify-content-center">
        <div class="col-md-5 canvas">
            <div class="card shadow p-3">
                <h6>Revenus par Jour</h6>
                <canvas id="barChart"></canvas>
            </div>
        </div>

        <div class="col-md-5 canvas">
            <div class="card shadow p-3">
                <h6>Commandes Hebdomadaires</h6>
                <canvas id="lineChart"></canvas>
            </div>
        </div>

        <div class="col-md-4 canvas">
            <div class="card shadow p-3">
                <h6>Types de Commandes</h6>
                <canvas id="pieChart"></canvas>
            </div>
        </div>

        <div class="col-md-4 canvas">
            <div class="card shadow p-3">
                <h6>Catégories Produits</h6>
                <canvas id="doughnutChart"></canvas>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-3">
                <h6>Popularité des Plats</h6>
                <canvas id="polarChart"></canvas>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-3">
                <h6>Évaluation du Service</h6>
                <canvas id="radarChart"></canvas>
            </div>
        </div>
    </div>
</div>
