/* You can add global styles to this file, and also import other style files */
:root {
    --pizza-red: #dc2626;        /* Text "PIZZA", outer ring */
    --cheese-yellow: #dca532;    /* Cheese color */
    --pepperoni-red: #b93a2f;    /* Pepperoni circles */
    --crust-brown: #d8862c;      /* Pizza crust */
    --leaf-green: #387e4b;       /* Basil leaves */
    --circle-green: #5ca866;     /* Green arcs inside ring */
    --background-beige: #f2e8d8; /* Light background */
}

html, body { height: 100%;  font-size:0.9rem!important; }
body { margin: 0; font-family:"Poppins", Roboto, "Helvetica Neue", sans-serif; }

* {
    font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif !important;
}

mat-icon {
    font-family: "Material Icons", sans-serif !important;
}

.glass-orang{
backdrop-filter: blur(5px);
background-color: #fcd965;
box-shadow: 35px 35px 68px 0px rgba(245, 166, 35, 0.3);
}
.glass-orang-color{
color: #fcd965;
}
  
.second-color-border{
border: 2px solid #fcd965;
}

  /*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
.glass{
background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
border: 1px solid rgba(255,255,255,0.25);
}


.custom-dialog-container {
width: 100vh !important;
padding: 10px;
/* max-width: 90vw;  */
}



.dark-bg{
background-color: #030303;
}
html {

}


* {
    transition: opacity 2s ease-in-out;
    animation: blink 1s;
    font-family: "Poppins",sans-serif !important;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* Custom scrollbar styling for horizontal scrollbar */
*::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color:  #8e8e8e; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Round corners of the scrollbar */
}

*::-webkit-scrollbar-track {
    background: #F8F9FA; /* Background of the scrollbar track */
}

.bg-pizza-red {background:#DC2626FF!important; }
.text-pizza-red  { color: #DC2626FF!important; }

.bg-cheese-yellow    { background-color: var(--cheese-yellow)!important; }
.text-cheese-yellow  { color: var(--cheese-yellow)!important; }

.bg-crust-brown    { background-color: var(--crust-brown)!important; }
.text-crust-brown  { color: var(--crust-brown)!important; }

.bg-leaf-green    { background-color: var(--leaf-green)!important; }
.text-leaf-green  { color: var(--leaf-green)!important; }

.bg-circle-green    { background-color: var(--circle-green)!important; }
.text-circle-green  { color: var(--circle-green)!important; }

.bg-beige    { background-color: var(--background-beige)!important; }
.text-beige  { color: var(--background-beige)!important; }

/* Solid dark background */
.bg-dark-smart {
    background-color: #373636 !important;
    color: #ffffff; /* Optional for better contrast */
}

/* Translucent dark background with blur effect */
.bg-dark-light-smart {
    background: rgba(62, 61, 61, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(62, 61, 61, 0.3);
}
.scale-08{
    transform: scale(0.8);
}
.scale-0{
    transform: scale(0.9);
}

